<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="synnduit"
             type="Synnduit.Configuration.SynnduitConfigurationSection, Synnduit" />
    <section name="entityFramework"
             type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.1.3.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
             requirePermission="false" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>

  <appSettings>
    <add key="JsonFolderPath"
         value="C:\temp\Dev\Source\PortalIntegration\JsonFiles" />
    <add key="iCalFolderPath"
         value="C:\temp\Dev\Source\PortalIntegration\IcsFiles" />
    <add key="domainName"
         value="cssd.ab.ca" />
  </appSettings>

  <synnduit binaryFilesDirectoryPath="C:\temp\Dev\Source\PortalIntegration-StarBridge\CSSD"
            runConfigurationFilesDirectoryPath="C:\temp\Dev\Source\PortalIntegration-StarBridge\Configuration">
    <logging>
      <migration excludedOutcomes="Skipped, NoChangesDetected, ReferredForManualDeduplication"
                 sourceSystemEntity="true"
                 destinationSystemEntity="false"
                 valueChanges="true"
                 alwaysLogMessages="false"
                 />
      <garbageCollection excludedOutcomes=""
                         entity="false"
                         alwaysLogMessages="false"
                         />
    </logging>
  </synnduit>

  <connectionStrings>
    <add name="Synnduit"
         connectionString="Server=localhost;Database=StarBridge;Trusted_Connection=True;multipleactiveresultsets=True"
         providerName="System.Data.SqlClient"
         />

    <add name="SchoolObjectModel"
         connectionString="Server=.;Database=SchoolObjectModel;Trusted_Connection=True;multipleactiveresultsets=True"
         providerName="System.Data.SqlClient" />

    <add name="SharePointOnlineDbContext"
         connectionString="Server=S096-A0620-04;Database=CC_Portal_SharePointOnline;Trusted_Connection=True;multipleactiveresultsets=True"
         providerName="System.Data.SqlClient"
         />

    <add name="EntityIdentifierCache"
         connectionString="Server=S096-A0620-04;Database=EntityIdentifierCache;Trusted_Connection=True;multipleactiveresultsets=True"
         providerName="System.Data.SqlClient"
         />

    <add name="HRAD"
         connectionString="metadata=res://*/HumanResources.HumanResourcesModel.csdl|res://*/HumanResources.HumanResourcesModel.ssdl|res://*/HumanResources.HumanResourcesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=S096-a0634-01;initial catalog=HRAD;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
         providerName="System.Data.EntityClient" />

    <add name="SISMidDbContext"
         connectionString="data source=s096-a0620-04;initial catalog=CC_SISMID;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
         providerName="System.Data.SqlClient" />

    <add name="PPSDbContext"
         connectionString="data source=s096-a0620-04;initial catalog=CC_Portal_SchoolObjectModel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework;Connection Timeout=0"
         providerName="System.Data.SqlClient" />

    <add name="SchoolBundleEntities"
         connectionString="metadata=res://*/SchoolBundle.SchoolBundleModel.csdl|res://*/SchoolBundle.SchoolBundleModel.ssdl|res://*/SchoolBundle.SchoolBundleModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=CCSD_ODL;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
         providerName="System.Data.EntityClient" />
  </connectionStrings>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
