<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="synnduit"
             type="Synnduit.Configuration.SynnduitConfigurationSection, Synnduit" />
    <section name="entityFramework"
             type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
             requirePermission="false" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>

  <appSettings>
    <add key="JsonFolderPath"
         value="C:\temp\Dev\Source\PortalIntegration\JsonFiles" />
    <add key="iCalFolderPath"
         value="C:\temp\Dev\Source\PortalIntegration\IcsFiles" />
    <add key="domainName"
         value="cssd.ab.ca" />
  </appSettings>

  <synnduit binaryFilesDirectoryPath="C:\temp\Dev\Source\PortalIntegration-StarBridge\CSSD"
            runConfigurationFilesDirectoryPath="C:\temp\Dev\Source\PortalIntegration-StarBridge\Configuration">
    <logging>
      <migration excludedOutcomes="Skipped, NoChangesDetected, ReferredForManualDeduplication"
                 sourceSystemEntity="true"
                 destinationSystemEntity="false"
                 valueChanges="true"
                 alwaysLogMessages="false"
                 />
      <garbageCollection excludedOutcomes=""
                         entity="false"
                         alwaysLogMessages="false"
                         />
    </logging>
  </synnduit>

  <connectionStrings>
    <add name="Synnduit"
         connectionString="Server=localhost;Database=Synnduit;Trusted_Connection=True;multipleactiveresultsets=True"
         providerName="System.Data.SqlClient"
         />
  </connectionStrings>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
